<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button with Link</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .button {
            display: inline-block;
            padding: 20px 40px;
            font-size: 20px;
            color: rgb(2, 72, 0);
            background-color: #b5dfaf;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="form-container">
    <a href="/login" class="button">Log into admin account for access</a>
</div>
</body>
</html>
